<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238990843800-gk7e03ij1ovlvre8et2l6nfqf6vu97uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238990843800-gk7e03ij1ovlvre8et2l6nfqf6vu97uj</string>
	<key>API_KEY</key>
	<string>AIzaSyB_YnSqBNoE51U0EJdwhEDKNNbgCNt8KWU</string>
	<key>GCM_SENDER_ID</key>
	<string>238990843800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isil.CaraLibroAppiOS</string>
	<key>PROJECT_ID</key>
	<string>caralibrognm</string>
	<key>STORAGE_BUCKET</key>
	<string>caralibrognm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238990843800:ios:e41fbbaf631e0c50a915ed</string>
</dict>
</plist>